{%extends 'all_projects/base.html'%}
{% load static %}

{% block content %}
<hr> <br>
<h2>PROJECTS</h2>
<div class="jumbotron">
{% for project in projects %}
    <div class="row" id="project">
        <div class="col-md-3" id="work4">
            <a target="_blank" href="{{ project.live_link}}"><img id="port" src="{{project.image.url}}" alt="projec_img"></a>
            <p id="overlay" class="text"><a href="{{ project.live_link}}" target="_blank">Visit site</a></p>
            <p>{{project.title}}</p>
            <p>Design: </p>
            <p>Usability: </p>
            <p>Content: </p>
            
        </div>
    </div>
{% endfor %}
</div> 


{% endblock %}