{%extends 'all_projects/base.html'%}
{% block title %}
my profile
{% endblock title %}

{% block content %}
<div class="jumbotron">

<div class="container" style="margin: auto;">
    {% if confirm %}
    <div class="ui green message">Your profile has been updated</div>
    {% endif %}
    <h4>{{request.user}}</h4>
    <div class="ui grid">
        <div class='row'>
            <div class='six wide column'>
                <img width="20%" class="ui medium rounded-circle image" src={{profile.avatar.url}} >
                <div class="row mt-5">
                </div>
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>
                                <h4>Username:</h4>
                            </td>
                            <td>{{profile.user}}</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Name:</h4>
                            </td>
                            <td>{{profile.name}}</td>
                        </tr>

                        <tr>
                            <td>
                                <h4>Bio:</h4>
                            </td>
                            <td>{{profile.bio}}</td>
                        </tr>

                    </tbody>
                </table>
                <div class="description">
                    <br> <br> <hr><div class="ui header"><h3>Update Profile</h3></div> <br>
                    <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type='submit' class="btn btn-success btn-sm">
                            Update Profile
                            <i class="checkmark icon"></i>
                        </button>
                </div>
            </div>
            <div class="actions">
                
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}