
.projects{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 225px;
    margin-right: 215px;
}



.col-md-3 .mediaQ{
    display: none;
}

.row{
    padding-bottom: 50px;
}

#overlay{
    display: none;
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    top: 0.1%;
    left: 7%;
    color: white;
    padding: 15% 50% 0 7%;
    font-weight: 900;
    font-size: 1.7em;
    width: 370%;
    height: 100%;
    outline: 3px solid white;
    outline-offset: -17px;
}

.col-md-3 img{
    width: 350px;
    height: 250px;
    margin: 5px;
    
}
.jumbotron{
    display: flex;
    flex-wrap: wrap;
}


.row .jumbotron{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, ifr);
    text-align: center;
}


.ratings{
    display: flex;
    border: 2px solid black;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    background-color: black;
    
}
.counter-up{
    border: 3px dotted solid red;
}


.content .box .icon{
    font-size: 35px;
    color:gold;
    font-weight: 250;


}
.content .box .text{
    color: white;
    font-weight: 500;
}
.content .counter{
    color: gold;
    font-size: larger;
    font-weight: 300;
}
.counter-up::content{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
}