{% extends 'all_projects/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="jumbotron">
<div class="container mt-5" style="color: black;">
	<div class="card border p-5">
		<div class="card-header border-bottom">
      <h3>ADD YOU PROJECT</h3>
		</div>
		<form action="" method="POST" enctype="multipart/form-data">
			<div class="card-body border-0">
				{%csrf_token%}

				{% bootstrap_form form%}

			</div>
			<div class="card-footer border-top">
				<input type="submit" class="btn btn-success btn-sm btn-lg " value="POST PROJECT">

			</div>
		</form>
	</div>
</div>
</div>

{% endblock %}